*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family:sans-serif;
}
body{
    background: rgb(1, 20, 37);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}
